/* src/App.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* We use a specific font stack that is very clean */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Change to white background and black text */
  background-color: #ffffff;
  color: #111111; 
}

/* This is still important to prevent unwanted scrollbars */
.App {
  overflow-x: hidden;
}

/* We can remove the big header and footer for now to match the mockup */
main {
  padding: 5rem 2rem; /* Add some padding to the top/bottom and sides */
}