@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.containerCards {
  position: relative;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 50px 20px;
  text-align: center;
}

.backgroundCards {
  position: absolute;
  inset: 0;
}

.overlayCards {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(10px);
  background-color: black;
}

.title,
.subtitle,
.mySwiperAm {
  position: relative;
}

.title {
  font-size: 3rem;
  font-weight: bolder;
  color: white;
}

.divisorAm {
  width: 35%;
  margin: 0.5vw;
}

.subtitle {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 30px;
}

.subtitle b {
  color: #FF702E;
}

.mySwiperAm {
  width: 100%;
  padding-bottom: 80px;
  min-height: 10vh;
  margin-top: 30px;
}

.swiper-slide {
  width: 22vw;
  background: transparent;
}

.slide-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.cardAM {
  width: 300px;
  height: 400px;
  perspective: 1000px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card-faceAM {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px #00000080;
  transition: transform 0.6s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.frontAM img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  object-fit: cover;
}

.card-faceAM.backAM {
  position: relative;
  color: white;
  transform: rotateY(180deg);
  text-align: left;
  font-size: 0.95rem;
  padding: 2vw;
}

.card-faceAM.backAM::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-image: inherit;
  filter: blur(8px);
  z-index: -2;
  transform: scale(1.1);
}

.card-faceAM.backAM::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.card-faceAM.backAM p {
  position: relative;
  z-index: 1;
  padding: 5px;
  font-size: large;
  border-radius: 8px;
  margin: 0 15px;
}

.cardAM.flipped {
  transform: rotateY(180deg);
}

.microscope-title {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  margin-top: 0;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 0 10px;
}

.swiper-pagination-bullet {
  width: 0.8vw;
  height: 0.8vw;
  border-radius: 50%;
  background-color: white;
  opacity: 0.1;
}

.swiper-pagination-bullet-active {
  background-color: #FF702E;
  opacity: 1;
}