.credits-banner {
  width: 100%;
  height: 40px;
  overflow: hidden;
  background-color: #ffffff;
  padding: 10px 0;
}

.credits-texto {
  display: flex;
  align-items: center;
  position: relative;
  height: 100px;
}

.credits-image-wrapper {
  height: 60px;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.credits-image {
  position: absolute;
  left: 100%;
  height: 50px;
  width: auto;
  animation: scrollImage 30s linear infinite;
}

@keyframes scrollImage {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}