 .bg-section {
   background-color: rgb(255, 255, 255);

 }

 .conteuSecCuiriosidades {

  
   display: flex;
   flex-direction: column;
   gap: 2vw;


 }

 .cabecalhoCuriosidades {

   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   margin-left: 1vw;
   padding: 3vw 5vw 0vw 2vw;
   gap: 0w;
   color: black;

 }

 .titleEChamada {

   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: row;
   width: 100%;


 }

 .titleEVetor {

   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.5vw;

 }

 .titleEVetor img {

   width: 2vw;

 }

 .titleEVetor h1 {

   font-size: 4vw;
   font-weight: 800;
   margin-bottom: -20px;
   margin-left: 10px;

 }

 .titleEChamada p {

   text-align: right;
   font-size: 1.2vw;
   width: 35vw;

 }

 .subEBotao {

   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;


 }

 .subEBotao h3 {

   font-size: 2vw;
   font-style: italic;
   margin-left: 17vw;
   color: #FF702E;
   

 }

 .subEBotao button {

   color: rgb(255, 255, 255);
    width: 12vw;
    background-color: #FF702E;
    border-radius: 0.8vw;
    border: none;
    font-size: 1.2vw;
    font-weight: 600;
    padding: 1vw;
    cursor: pointer;
    transition: all 0.3s ease;
    transform-origin: center;
    margin-top: 10px;
 }

 .subEBotao button:hover {
    background-color: #000;
    transition: background-color 0.3s ease, transform 0.3s ease;
    transform: scale(1.1); 
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.2);
    color: rgb(255, 255, 255);
  }

 .bgRetangulo {

    width: 100%;
  background-image: url('/images/bg2things.png');
  background-size: cover;     
  background-position: top; 
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;

 }

 .mainSecCuriosidades {

   display: flex;
   flex-direction: row;
    flex-wrap: wrap;
  
   gap: 10vw;
   justify-content: center;
   align-items: center;
 }

 .cardPreto1,
 .cardPreto2 {

   width: 40vw;
   min-height: 100%;
   background-color: black;
   border-radius: 2vw 2vw 0vw 0vw;
   display: flex;
    flex-wrap: wrap;
   justify-content: baseline;
   align-items: center;
   flex-direction: column;
   text-align: left;

 }

 .cardPreto1 img {

   width: 30vw;

 }

 .cardPreto2 img {

   width: 30vw;

 }

 .introducaoCards {

   margin-top: 3vw;
   color: white;
   display: flex;
   flex-direction: column;
   gap: 1vw;
   padding: 1vw 3vw;
 }

 .introducaoCards h3 {

   font-size: 2vw;
   width: 27vw;
   font-weight: 600;

 }

  .introducaoCards p {

   font-size: 12px;
   width: 27vw;

 }
 .introducaoCards sub {

   font-size: 1vw;

 }

 .bgPilhaCards {

   padding: 1.5vw 1vw 3vw 1vw;

 }

.pilha-cards1 {
  position: relative;
  width: 240px;
  height: 320px;
  margin: auto;
  cursor: pointer;
  flex-wrap: wrap;
  transform: rotate(-3deg) translate(-3px, -3px);
      transition: all 0.3s ease;
    transform-origin: center;
}

.carta1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 320px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  background-color: #ccc;
}

.carta1-topo {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
  z-index: 10;
}

.carta1-topo img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.texto-carta1 {
  color: #333;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.pilha-cards1:hover .carta1-topo { 

  transition: background-color 0.3s ease, transform 0.3s ease;
    transform: scale(1.1); 
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.2);

 }

 .btnClickCuriousSec {
    position: relative;
    width: 3vw;
    /* height: 3vw; */
    display: flex;
    justify-content: center;
    align-items:start;
    cursor: pointer;
  }

  .btnClickCuriousSec img:first-child {

    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1;
  }

  .btnClickCuriousSec img:last-child {
    width: 50%;
    height: auto;
    position: relative;
    z-index: 2;
    transition: transform 0.3s ease;
    animation: pulse 1.5s infinite ease-in-out;
    top: 0.8vw;
  }

 
  @keyframes pulse {
    0% {
      transform: scale(0.8);
      opacity: 1;
    }

    50% {
      transform: scale(1.2);
      opacity: 0.8;
    }

    100% {
      transform: scale(0.8);
      opacity: 1;
    }
  }

  /* Efeito hover (opcional) */
.btnClickCuriousSec:hover img:last-child {
    transform: scale(1.1) rotate(10deg);
    animation: pulse 0.8s infinite ease-in-out;
  }


.bgPilhaCards2 {

padding: 1vw 1vw 1vw 1vw;

} 

.pilha-cards2 {
  position: relative;
  width: 400px;
  height: 313px;
  margin: auto;
  cursor: pointer;
   transform: rotate(2deg) translate(4px, 5px);
     transition: all 0.3s ease;
    transform-origin: center;
}

.carta2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 300px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
  background-color: #ddd;
}

.carta2-topo {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 10px;
  z-index: 10;
}

.carta2-topo img {
  width: 95%;
  border-radius: 12px;
  object-fit: cover;
}

.texto-carta2 {
  color: #222;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}


.pilha-cards2:hover .carta2-topo{

  transition: background-color 0.3s ease, transform 0.3s ease;
    transform: scale(1.1); 
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.2);

 }
