.noticia-banner {
  width: 100vw;
  overflow: hidden;
  background: #000000;
  border-top: 2px solid #000000;
  border-bottom: 0px solid #ccc;
  height: 100px;
  display: flex;
  align-items: center;
}

.noticia-marquee {
  display: flex;
  width: fit-content;
  animation: correrTexto 20s linear infinite;
  white-space: nowrap;
}

.noticia-texto1 {
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 40px;
  color: #ffffff;
  padding-right: 100px; 
}

.noticia-texto img {
  height: 75px;
  width: auto;
  margin-right: 15px;
}

@keyframes correrTexto {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-60%);
  }
}
