


.map-section {
  position: relative;
  width: 100vw;
  height: 900px;
  background-color: #0A0E12;
  color: #fff;
  overflow: hidden;
}

.map-td {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 30px;
  padding: 20px;
}

.map-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 45px;
  margin-top: 30px;
  margin-left: 15px;
  max-width: 400px; 
  white-space: normal; 
  word-wrap: break-word; 
  line-height: 1.2; 
}


.map-container {
  position: relative;
  width: auto;
  height: 90%;
  background-position: center;
}

/* .map-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
  transition: transform 0.2s ease;
}

.map-icon:hover {
  transform: scale(1.3);
} */

.disease-image {
  position: absolute;
  width: auto;
  height: 35px;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.disease-image:hover {
  transform: scale(1.8);
  z-index: 10;
}

.popup-map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content-map {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: white;
  border-radius: 12px;
  width: 700px;
  max-width: 90%;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  position: relative;
}

.popup-header-map {
  display: flex;
  justify-content: flex-start;
  height: 140px;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 15px;
  color: #000;
}

.popup-number-map {
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 60px;           
  height: 46px;       
  background: #ff6f21;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;   
  text-align: center;
}

.popup-header-map h3 {
  margin: 0;
  padding: 0;
  font-style: italic;
  font-weight: bold;
  background-color: white;
  height: 46px;
  width: 300px;
  display: flex;
  align-items: center;   
  padding-left: 30px;   
  justify-content: left;   
  position: absolute;
  bottom: 0;
  left: 70px; 
  border-radius: 0px;
}

.popup-body-map {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 14px;
  color: #222;
}

.popup-section-map {
  flex: 1;
  padding: 0 10px;
  border-left: 1px solid #ccc;
}

.popup-section-map:first-child {
  border-left: none;
}

.popup-section-map strong {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}

.highlight {
  color: #ff6f21;
  font-weight: 900;
  font-size: 18px;
  margin-top: 0px;
}

.popup-footer-map {
  font-size: 12px;
  padding: 10px 20px;
  font-style: italic;
  color: #666;
}

button {
  margin: 15px 20px 20px;
  padding: 8px 16px;
  cursor: pointer;
}
